@mixin container {
    width: 1000px;
    margin: 0 auto;
}

@mixin left {
    float: left;
}

@mixin right {
    float: right;
}

@mixin align {
    text-align: center;
}

@mixin color {
    color: #169af3;
}

//头部开始
.wang {
    width: 1349px;
    height: 78px;
    a {
        @include left;
        margin-top: 20.5px;
    }
    .header {
        @include container;
        height: 78px;
    }
    .input {
        @include left;
        width: 300px;
        height: 36px;
        margin: 20px 0 0 40px;
        border: 1px solid #ccc;
        input {
            width: 249px;
            height: 24px;
            padding: 5px 0;
            margin-left: 14px;
            border: none;
            outline: none;
        }
    }
    .sos {
        @include right;
        @include align;
        width: 34px;
        height: 34px;
        line-height: 34px;
        .icon-sousuo1 {
            font-size: 20px;
            color: #666;
        }
        .icon-sousuo1:hover {
            @include color;
        }
    }
    .you {
        @include right;
        margin-top: 26.5px;
        width: 402px;
        height: 25px;
        line-height: 25px;
        font-size: 13px;

        .you-a {
            @include left;
            height: 18px;
            margin-top: 3.5px;
            padding-right: 15px;
            border-right: 1px solid #dbdbdb;
            a {
                margin: -3.5px 15px 0 15px;
                color: #777;
                &:hover {
                    @include color;
                }
            }
        }
        .you-b {
            @include right;
            margin-top: -2.5px;
            a {
                margin: 0 0 0 10px;
                color: #777;
                display: inline-block;
                width: 48px;
                height: 28px;
                @include align;
                line-height: 28px;
                border-radius: 2px;
            }
            .yanse-denglu {
                background: #169af3;
                color: #fff;
                border: 1px solid #169af3;
                &:hover {
                    background: #0c8ed9;
                }
            }
            .yanse-zhuce {
                border: 1px solid #dbdbdb;
                &:hover {
                    @include color;
                    border: 1px solid #0c8ed9;
                }
            }
        }
    }
}

//头部结束
//导航条开始
.navbar {
    width: 1349px;
    height: 55px;
    line-height: 55px;
    background: #2c323b;
    a {
        margin: 0;
    }
    .navbar-daohang {
        @include container;
        height: 55px;
        >.navbar-shouye {
            @include left;
            li {
                @include left;
                a {
                    padding: 0 30px;
                    color: #ddd;
                    font-size: 16px;
                    height: 55px;
                    &:hover {
                        background: #0c8ed9;
                    }
                }
            }
            .service {
                position: relative;
                &:hover .service-list {
                    display: block;
                }
                .service-list {
                    position: absolute;
                    background: #2c323b;
                    top: 55px;
                    left: 0;
                    width: 100%;
                    height: 152px;
                    line-height: 38px;
                    text-align: center;
                    display: none;
                    z-index: 99;
                    li {
                        width: 100%;
                        a {
                            height: 38px;
                            padding: 0 40.37px;
                            &:hover {
                                color: #fff;
                                background: #252b34;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-shangcheng {
        @include right;
        width: 445px;
        height: 35px;
        li {
            @include left;
            margin-left: 33px;
            a {
                color: #ddd;
                font-size: 13px;
                &:hover {
                    @include color;
                }
                .iconfont {
                    font-size: 13px;
                }
            }
        }
    }
}

//导航条结束
.zhuti {
    margin: 0 auto;
    width: 1000px;
    height: 345px;
    .swiper-container {
        margin-top: 20px;
        float: left;
        width: 663px;
        height: 325px;
        .geming {
            position: absolute;
            bottom: 0;
            z-index: 100;
            width: 663px;
            height: 40px;
            line-height: 40px;
            background-color: rgba(0, 0, 0, .3);
            a {
                padding-left: 20px;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .bofang {
                    width: 18px;
                    height: 18px;
                    background: url(../images/play.png) 0 0 no-repeat;
                }
            }
        }
        .xiaodian {
            position: absolute;
            left: 500px;
            width: 140px;
            span {
                width: 12px;
                height: 12px;
            }
        }
    }
    .paihang {
        float: right;
        margin-top: 20px;
        width: 317px;
        height: 325px;
        background: #ddd;
        h3 {
            font-size: 14px;
            line-height: 30px;
            span {
                display: inline-block;
                padding-left: 15px;
                margin-right: 1px;
                width: 219px;
                height: 30px;
                color: #fff;
                background: #deb200;
            }
            a {
                float: right;
                display: inline-block;
                text-align: center;
                width: 81px;
                height: 30px;
                color: #fff;
                background: #363636;
            }
        }
        ul {
            margin-top: 2px;
            font-size: 0;
            height: 293px;
            background: #363636;
            li {
                width: 317px;
                height: 29px;
                line-height: 32px;
                &:hover {
                    background: #959595;
                }
                &:hover .bofang {
                    display: block;
                }
                a {
                    display: inline-block;
                    width: 317px;
                    height: 29px;
                }
                .shuzi-yi {
                    background: url(../images/bga.png) 0 0 no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 0 no-repeat;
                    }
                }
                .shuzi-er {
                    background: url(../images/bga.png) 0 -29px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -29px no-repeat;
                    }
                }
                .shuzi-san {
                    background: url(../images/bga.png) 0 -58px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -58px no-repeat;
                    }
                }
                .shuzi-si {
                    background: url(../images/bga.png) 0 -87px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -87px no-repeat;
                    }
                }
                .shuzi-wu {
                    background: url(../images/bga.png) 0 -116px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -116px no-repeat;
                    }
                }
                .shuzi-liu {
                    background: url(../images/bga.png) 0 -145px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -145px no-repeat;
                    }
                }
                .shuzi-qi {
                    background: url(../images/bga.png) 0 -174px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -174px no-repeat;
                    }
                }
                .shuzi-ba {
                    background: url(../images/bga.png) 0 -203px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -203px no-repeat;
                    }
                }
                .shuzi-jiu {
                    background: url(../images/bga.png) 0 -232px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png)0 -232px no-repeat;
                    }
                }
                .shuzi-shi {
                    background: url(../images/bga.png) 0 -261px no-repeat;
                    &:hover {
                        background: url(../images/bgc.png) 0 -261px no-repeat;
                    }
                }
                .fontt {
                    margin-left: 37px;
                    font-size: 13px;
                    color: #fff;
                }
                .bofang {
                    display: none;
                    float: right;
                    margin: 5.5px 40px 0 0;
                    width: 18px;
                    height: 18px;
                    background: url(../images/play.png) 0 0 no-repeat;
                }
            }
        }
    }
}

.liebiao {
    margin: 0 auto;
    width: 1000px;
    height: 588px;
    h3 {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #cfcfcf;
    }
    .liebiao-one {
        float: left;
        margin-top: 18px;
        width: 210px;
        height: 184px;
        ul {
            padding-top: 10px;
            a {
                display: inline-block;
                width: 210px;
                height: 36px;
                line-height: 36px;
                font-size: 14px;
                color: #555;
                text-align: center;
                &:hover {
                    color: #fff;
                    background: #85d4f3;
                }
            }
        }
    }
    .liebiao-two {
        float: right;
        margin-top: 18px;
        width: 780px;
        height: 520px;
        ul {
            margin-top: 10px;
            width: 780px;
            height: 490px;
            .meiyong {
                margin-right: 0;
            }
            li {
                margin: 0 20px 10px 0;
                float: left;
                width: 140px;
                height: 110px;
                img {
                    width: 140px;
                    height: 78px;
                }
                span {
                    display: block;
                    margin: 5px 0 0 3px;
                    width: 124px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .liebiao-three {
        margin-top: 15px;
        width: 780px;
        height: 21px;
        background: pink;
    }
}

// 尾部开始 
.weibu {
    width: 1349px;
    height: 289px;
    background: #2c323b;
    a {
        margin: 0;
    }
    .weibu-one {
        display: flex;
        justify-content: center;
        width: 1349px;
        height: 30px;
        padding: 9px 0;
        font-size: 12px;
        border-bottom: 1px solid #3d424a;
        a {
            padding: 10px 0 10px 10px;
            color: #b1b3b9;
            &::after {
                content: "|";
                height: 12px;
                margin: 0 5px 0 10px;
                color: #b1b3b9;
            }
            &:hover {
                @include color;
            }
        }
        .zheshi {
            &::after {
                content: "";
            }
        }
    }
    .weibu-two {
        @include container;
        height: 150px;
        margin-top: 40px;
        p {
            width: 1000px;
            height: 30px;
            @include align;
            color: #b1b3b9;
            font-size: 13px;
            line-height: 30px;
            a {
                float: none;
                color: #999;
            }
            .tuyi {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-top: -10px;
                background: url('../images/footer_icon.png');
            }
            .tuer {
                display: inline-block;
                width: 19px;
                height: 20px;
                background: url('../images/logo_down.png');
            }
        }
    }
}

// 尾部结束