.wang {
  width: 1349px;
  height: 2965px;
}

.wang a {
  float: left;
  margin-top: 20.5px;
}

.wang .header {
  width: 1000px;
  margin: 0 auto;
  height: 78px;
}

.wang .input {
  float: left;
  width: 300px;
  height: 36px;
  margin: 20px 0 0 40px;
  border: 1px solid #ccc;
}

.wang .input input {
  width: 249px;
  height: 24px;
  padding: 5px 0;
  margin-left: 14px;
  border: none;
  outline: none;
}

.wang .sos {
  float: right;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
}

.wang .sos .icon-sousuo1 {
  font-size: 20px;
  color: #666;
}

.wang .sos .icon-sousuo1:hover {
  color: #169af3;
}

.wang .you {
  float: right;
  margin-top: 26.5px;
  width: 402px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}

.wang .you .you-a {
  float: left;
  height: 18px;
  margin-top: 3.5px;
  padding-right: 15px;
  border-right: 1px solid #dbdbdb;
}

.wang .you .you-a a {
  margin: -3.5px 15px 0 15px;
  color: #777;
}

.wang .you .you-a a:hover {
  color: #169af3;
}

.wang .you .you-b {
  float: right;
  margin-top: -2.5px;
}

.wang .you .you-b a {
  margin: 0 0 0 10px;
  color: #777;
  display: inline-block;
  width: 48px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
}

.wang .you .you-b .yanse-denglu {
  background: #169af3;
  color: #fff;
  border: 1px solid #169af3;
}

.wang .you .you-b .yanse-denglu:hover {
  background: #0c8ed9;
}

.wang .you .you-b .yanse-zhuce {
  border: 1px solid #dbdbdb;
}

.wang .you .you-b .yanse-zhuce:hover {
  color: #169af3;
  border: 1px solid #0c8ed9;
}

.navbar {
  width: 1349px;
  height: 55px;
  line-height: 55px;
  background: #2c323b;
}

.navbar a {
  margin: 0;
}

.navbar .navbar-daohang {
  width: 1000px;
  margin: 0 auto;
  height: 55px;
}

.navbar .navbar-daohang > .navbar-shouye {
  float: left;
}

.navbar .navbar-daohang > .navbar-shouye li {
  float: left;
}

.navbar .navbar-daohang > .navbar-shouye li a {
  padding: 0 30px;
  color: #ddd;
  font-size: 16px;
  height: 55px;
}

.navbar .navbar-daohang > .navbar-shouye li a:hover {
  background: #0c8ed9;
}

.navbar .navbar-daohang > .navbar-shouye .service {
  position: relative;
}

.navbar .navbar-daohang > .navbar-shouye .service:hover .service-list {
  display: block;
}

.navbar .navbar-daohang > .navbar-shouye .service .service-list {
  position: absolute;
  background: #2c323b;
  top: 55px;
  left: 0;
  width: 100%;
  height: 152px;
  line-height: 38px;
  text-align: center;
  display: none;
  z-index: 99;
}

.navbar .navbar-daohang > .navbar-shouye .service .service-list li {
  width: 100%;
}

.navbar .navbar-daohang > .navbar-shouye .service .service-list li a {
  height: 38px;
  padding: 0 40.37px;
}

.navbar .navbar-daohang > .navbar-shouye .service .service-list li a:hover {
  color: #fff;
  background: #252b34;
}

.navbar .navbar-shangcheng {
  float: right;
  width: 445px;
  height: 35px;
}

.navbar .navbar-shangcheng li {
  float: left;
  margin-left: 33px;
}

.navbar .navbar-shangcheng li a {
  color: #ddd;
  font-size: 13px;
}

.navbar .navbar-shangcheng li a:hover {
  color: #169af3;
}

.navbar .navbar-shangcheng li a .iconfont {
  font-size: 13px;
}

.swiper-container:hover .left-right {
  display: block;
}

.swiper-container a {
  margin: 0;
}

.swiper-container .anniu {
  margin-bottom: 70px;
}

.swiper-container .left-right {
  margin-top: -38.5px;
  z-index: 300;
  display: none;
}

.swiper-container .leftt {
  left: 0;
  width: 60px;
  height: 120px;
  background: url(../images/jingling.png) 0 -755px no-repeat;
}

.swiper-container .leftt:hover {
  background: url(../images/jingling.png) 0 -880px no-repeat;
}

.swiper-container .rightt {
  right: 0;
  width: 60px;
  height: 120px;
  background: url(../images/jingling.png) 0 -1130px no-repeat;
}

.swiper-container .rightt:hover {
  background: url(../images/jingling.png) 0 -1006px no-repeat;
}

.swiper-container .xiazai {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

.swiper-container .xiazai div {
  width: 615px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.swiper-container .xiazai div a {
  font-size: 15px;
  color: #fff;
}

.swiper-container .xiazai div a::after {
  content: "|";
  height: 28px;
  margin: 0 20px 0 30px;
  color: #b1b3b9;
}

.swiper-container .xiazai div a img {
  vertical-align: middle;
  margin-right: 15px;
}

.swiper-container .xiazai div .dle::after {
  content: "";
}

.jingxuan {
  width: 1000px;
  margin: 0 auto;
  height: 399px;
  margin-top: 40px;
}

.jingxuan a {
  margin: 0;
}

.jingxuan .gedan {
  float: left;
  width: 655px;
  height: 390px;
}

.jingxuan .gedan .gedan-one {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
}

.jingxuan .gedan .gedan-one h3 {
  float: left;
}

.jingxuan .gedan .gedan-one h3 span {
  color: #169af3;
}

.jingxuan .gedan .gedan-one a {
  float: right;
  font-size: 14px;
  color: #555;
}

.jingxuan .gedan .gedan-one a:hover {
  color: #169af3;
}

.jingxuan .gedan .gedan-two {
  width: 655px;
  height: 330px;
  overflow: hidden;
}

.jingxuan .gedan .gedan-two div {
  width: 160px;
  height: 160px;
  float: left;
}

.jingxuan .gedan .gedan-two .datu {
  position: relative;
  width: 325px;
  height: 325px;
}

.jingxuan .gedan .gedan-two .datu img {
  width: 325px;
  height: 325px;
}

.jingxuan .gedan .gedan-two .datu > p {
  position: absolute;
  top: 0;
  right: 0;
  width: 152px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  background: url("../images/Bg.png");
}

.jingxuan .gedan .gedan-two .datu > p .iconfont {
  margin-left: 70px;
  font-size: 16px;
}

.jingxuan .gedan .gedan-two .datu > div {
  position: absolute;
  bottom: 0;
  width: 309px;
  height: 38px;
  padding: 6px 8px;
  line-height: 19px;
  background: rgba(0, 0, 0, 0.5);
}

.jingxuan .gedan .gedan-two .datu > div p {
  font-size: 14px;
  color: #fff;
}

.jingxuan .gedan .gedan-two .datu > div .p {
  color: #cfcfcf;
}

.jingxuan .gedan .gedan-two .datu .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 325px;
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
  display: none;
}

.jingxuan .gedan .gedan-two .datu .beijing .iconfont {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 36px;
  color: #cfcfcf;
}

.jingxuan .gedan .gedan-two .datu .beijing .iconfont:hover {
  color: #fff;
}

.jingxuan .gedan .gedan-two .datu:hover .beijing {
  display: block;
}

.jingxuan .gedan .gedan-two .xiaotu {
  position: relative;
  margin: 0 0 5px 5px;
  width: 160px;
  height: 160px;
}

.jingxuan .gedan .gedan-two .xiaotu img {
  width: 160px;
  height: 160px;
}

.jingxuan .gedan .gedan-two .xiaotu > p {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: url("../images/Bg.png");
}

.jingxuan .gedan .gedan-two .xiaotu > p .iconfont {
  float: right;
  margin-right: 10px;
}

.jingxuan .gedan .gedan-two .xiaotu > div {
  position: absolute;
  bottom: 0;
  width: 144px;
  height: 38px;
  padding: 6px 8px;
  line-height: 19px;
  background: rgba(0, 0, 0, 0.5);
}

.jingxuan .gedan .gedan-two .xiaotu > div p {
  font-size: 14px;
  color: #fff;
}

.jingxuan .gedan .gedan-two .xiaotu > div .p {
  color: #cfcfcf;
}

.jingxuan .gedan .gedan-two .xiaotu .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
  display: none;
}

.jingxuan .gedan .gedan-two .xiaotu .beijing .iconfont {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 36px;
  color: #cfcfcf;
}

.jingxuan .gedan .gedan-two .xiaotu .beijing .iconfont:hover {
  color: #fff;
}

.jingxuan .gedan .gedan-two .xiaotu:hover .beijing {
  display: block;
}

.jingxuan .bangdan {
  float: right;
  width: 320px;
  height: 60px;
  background: #fff;
}

.jingxuan .bangdan .bangdan-one {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
}

.jingxuan .bangdan .bangdan-one h3 {
  float: left;
}

.jingxuan .bangdan .bangdan-one h3 span {
  color: #169af3;
}

.jingxuan .bangdan .bangdan-one a {
  float: right;
  font-size: 14px;
  color: #555;
}

.jingxuan .bangdan .bangdan-one a:hover {
  color: #169af3;
}

.jingxuan .bangdan .bangdan-two {
  width: 320px;
  height: 325px;
}

.jingxuan .bangdan .bangdan-two > a {
  position: relative;
  width: 320px;
  height: 98px;
  margin-bottom: 15px;
}

.jingxuan .bangdan .bangdan-two > a:hover .yiyu {
  display: block;
}

.jingxuan .bangdan .bangdan-two > a img {
  float: left;
  width: 98px;
  height: 98px;
}

.jingxuan .bangdan .bangdan-two > a div {
  position: relative;
  float: left;
  width: 200px;
  height: 68px;
  padding: 15px 10px;
  background: #f6f6f6;
  color: #555;
  font-size: 14px;
}

.jingxuan .bangdan .bangdan-two > a div .p {
  color: #333;
  font-weight: 700;
}

.jingxuan .bangdan .bangdan-two > a div p {
  height: 24px;
  line-height: 24px;
}

.jingxuan .bangdan .bangdan-two > a div .iconfont {
  position: absolute;
  top: 42px;
  right: 10px;
  font-size: 14px;
  color: #555;
}

.jingxuan .bangdan .bangdan-two > a .yiyu {
  position: absolute;
  top: 0;
  width: 78px;
  height: 68px;
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.jingxuan .bangdan .bangdan-two > a .yiyu .iconfont {
  margin-top: -10px;
  margin-right: 20px;
  font-size: 36px;
  color: #cfcfcf;
}

.jingxuan .bangdan .bangdan-two > a .yiyu .iconfont:hover {
  color: #fff;
}

.changtu {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

.changtu a {
  margin: 0;
}

.xinge {
  width: 1000px;
  height: 375px;
  margin: 0 auto;
  margin-top: 40px;
}

.xinge a {
  margin: 0;
}

.xinge .shoufa {
  float: left;
  width: 650px;
  height: 375px;
}

.xinge .shoufa .hide {
  display: none;
}

.xinge .shoufa .shoufa-one {
  height: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #555;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.xinge .shoufa .shoufa-one h3 {
  font-size: 30px;
  float: left;
}

.xinge .shoufa .shoufa-one h3 span {
  color: #169af3;
}

.xinge .shoufa .shoufa-one div {
  float: left;
  margin-left: 25px;
}

.xinge .shoufa .shoufa-one div span {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}

.xinge .shoufa .shoufa-one div span:hover {
  color: #169af3;
}

.xinge .shoufa .shoufa-one a {
  float: right;
  padding: 0 7.5px;
  font-size: 14px;
  color: #555;
  border: 1px solid #dbdbdb;
}

.xinge .shoufa .shoufa-one a:hover {
  color: #169af3;
  border: 0.8px solid #169af3;
}

.xinge .shoufa .shoufa-two {
  position: relative;
  height: 280px;
}

.xinge .shoufa .shoufa-two a {
  width: 630px;
  height: 35px;
  padding: 0 10px;
  color: #333;
  font-size: 13px;
  line-height: 35px;
}

.xinge .shoufa .shoufa-two a:hover span {
  color: #169af3;
}

.xinge .shoufa .shoufa-two a:hover .dier {
  display: none;
}

.xinge .shoufa .shoufa-two a:hover .disan .iconfont {
  display: block;
}

.xinge .shoufa .shoufa-two a .dier {
  margin-left: 5px;
}

.xinge .shoufa .shoufa-two a .disan {
  float: right;
}

.xinge .shoufa .shoufa-two a .disan .iconfont {
  float: left;
  margin-right: 10px;
  display: none;
}

.xinge .shoufa .shoufa-two .zuoyou {
  position: absolute;
  bottom: -15px;
  left: 293px;
  width: 62px;
  height: 14px;
  font-size: 8px;
}

.xinge .tuijian {
  float: right;
  width: 320px;
  height: 50px;
  background: #fff;
}

.xinge .tuijian .tuijian-one {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  color: #555;
  background: #fff;
}

.xinge .tuijian .tuijian-one h3 {
  float: left;
}

.xinge .tuijian .tuijian-one h3 span {
  color: #169af3;
}

.xinge .tuijian .tuijian-one a {
  float: right;
  font-size: 14px;
  color: #555;
}

.xinge .tuijian .tuijian-one a:hover {
  color: #169af3;
}

.xinge .tuijian .tuijian-two {
  width: 320px;
  height: 312px;
}

.xinge .tuijian .tuijian-two .taiyang {
  position: relative;
  width: 320px;
  height: 175px;
  margin-bottom: 12px;
}

.xinge .tuijian .tuijian-two .taiyang:hover .beijing {
  display: block;
}

.xinge .tuijian .tuijian-two .taiyang img {
  width: 320px;
  height: 175px;
}

.xinge .tuijian .tuijian-two .taiyang > div {
  position: absolute;
  bottom: 0;
  width: 304px;
  height: 38px;
  padding: 6px 8px;
  line-height: 19px;
  background: rgba(0, 0, 0, 0.5);
}

.xinge .tuijian .tuijian-two .taiyang > div p {
  font-size: 14px;
  color: #fff;
}

.xinge .tuijian .tuijian-two .taiyang > div .p {
  color: #cfcfcf;
}

.xinge .tuijian .tuijian-two .taiyang .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 175px;
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
  display: none;
}

.xinge .tuijian .tuijian-two .taiyang .beijing .iconfont {
  position: absolute;
  top: 69px;
  left: 142px;
  font-size: 46px;
  color: #cfcfcf;
}

.xinge .tuijian .tuijian-two .taiyang .beijing .iconfont:hover {
  color: #fff;
}

.xinge .tuijian .tuijian-two .taiyang:hover .beijing {
  display: block;
}

.xinge .tuijian .tuijian-two .yueliang {
  position: relative;
  float: left;
  width: 154px;
  height: 125px;
}

.xinge .tuijian .tuijian-two .yueliang:hover .p {
  color: #009af3;
}

.xinge .tuijian .tuijian-two .yueliang:hover .beijing {
  display: block;
}

.xinge .tuijian .tuijian-two .yueliang img {
  width: 154px;
  height: 84px;
}

.xinge .tuijian .tuijian-two .yueliang p {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

.xinge .tuijian .tuijian-two .yueliang .p {
  color: #444;
  font-size: 14px;
}

.xinge .tuijian .tuijian-two .yueliang .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  height: 84px;
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
  display: none;
}

.xinge .tuijian .tuijian-two .yueliang .beijing .iconfont {
  position: absolute;
  top: 19px;
  left: 54px;
  font-size: 46px;
  color: #cfcfcf;
}

.xinge .tuijian .tuijian-two .yueliang .beijing .iconfont:hover {
  color: #fff;
}

.xinge .tuijian .tuijian-two .diqiu {
  margin-left: 12px;
}

.kongbai {
  width: 1000px;
  margin: 0 auto;
  height: 140px;
}

.remen {
  width: 1000px;
  margin: 0 auto;
  height: 370px;
  margin-top: 40px;
}

.remen a {
  margin: 0;
}

.remen .diantai {
  float: left;
  width: 650px;
  height: 390px;
}

.remen .diantai .diantai-one {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
}

.remen .diantai .diantai-one h3 {
  float: left;
}

.remen .diantai .diantai-one h3 span {
  color: #169af3;
}

.remen .diantai .diantai-one a {
  float: right;
  font-size: 14px;
  color: #555;
}

.remen .diantai .diantai-one a:hover {
  color: #169af3;
}

.remen .diantai .diantai-two {
  width: 650px;
  height: 310px;
  background: #fff;
}

.remen .diantai .diantai-two a {
  position: relative;
  width: 100px;
  height: 130px;
  float: left;
  margin: 0 37px 25px 0;
}

.remen .diantai .diantai-two a img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.remen .diantai .diantai-two a p {
  color: #333;
  font-size: 14px;
  text-align: center;
}

.remen .diantai .diantai-two a div {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: none;
}

.remen .diantai .diantai-two a div .iconfont {
  font-size: 34px;
  color: #fff;
}

.remen .diantai .diantai-two a:hover div {
  display: block;
}

.remen .diantai .diantai-two a:hover p {
  color: #169af3;
}

.remen .diantai .diantai-two .meiyong {
  margin-right: 0;
}

.remen .geshou {
  float: right;
  width: 325px;
  height: 380px;
}

.remen .geshou .geshou-one {
  height: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
}

.remen .geshou .geshou-one h3 {
  font-size: 30px;
  float: left;
}

.remen .geshou .geshou-one h3 span {
  color: #169af3;
}

.remen .geshou .geshou-one div {
  float: left;
  margin-left: 20px;
}

.remen .geshou .geshou-one div a {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  color: #111;
}

.remen .geshou .geshou-one div a:hover {
  color: #169af3;
}

.remen .geshou .geshou-one div .meiyong {
  color: #555;
  margin: 0 0 0 5px;
}

.remen .geshou .geshou-two {
  width: 325px;
  height: 270px;
  display: none;
}

.remen .geshou .geshou-two .datu {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  margin-bottom: 5px;
}

.remen .geshou .geshou-two .datu img {
  width: 160px;
  height: 160px;
}

.remen .geshou .geshou-two .datu p {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 14px;
  color: #fff;
}

.remen .geshou .geshou-two .datu .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.remen .geshou .geshou-two .datu:hover .beijing {
  display: block;
}

.remen .geshou .geshou-two .yige {
  margin-right: 5px;
}

.remen .geshou .geshou-two .xiaotu {
  position: relative;
  float: left;
  width: 105px;
  height: 105px;
  margin-right: 5px;
}

.remen .geshou .geshou-two .xiaotu img {
  width: 105px;
  height: 105px;
}

.remen .geshou .geshou-two .xiaotu p {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 14px;
  color: #fff;
}

.remen .geshou .geshou-two .xiaotu .beijing {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.remen .geshou .geshou-two .xiaotu:hover .beijing {
  display: block;
}

.remen .geshou .geshou-two .liangge {
  margin-right: 0;
}

.remen .geshou .geshou-twoo {
  display: block;
}

.remen .geshou .diandian {
  width: 48px;
  height: 6px;
  margin: 0 auto;
  margin-top: 20px;
}

.remen .geshou .diandian a {
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background: #777;
  border-radius: 50%;
}

.remen .geshou .diandian a:hover {
  background: #169af3;
}

.hezuo {
  margin: 0 auto;
  width: 1010px;
  height: 276px;
}

.hezuo h3 {
  width: 1000px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
  float: left;
}

.hezuo h3 span {
  color: #169af3;
}

.hezuo ul li {
  font-size: 0;
  float: left;
  margin: 0 14px 12px 0;
  border: 1px dashed #ccc;
}

.hezuo ul .meiyong {
  margin-right: 0;
}

.youqing {
  width: 1000px;
  margin: 0 auto;
  height: 168px;
  margin-top: 30px;
}

.youqing a {
  margin: 0;
}

.youqing .youqing-one {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
  color: #555;
  background: #fff;
}

.youqing .youqing-one h3 {
  float: left;
}

.youqing .youqing-one h3 span {
  color: #169af3;
}

.youqing .youqing-one a {
  float: right;
  font-size: 14px;
  color: #555;
}

.youqing .youqing-one a:hover {
  color: #169af3;
}

.youqing .youqing-two {
  width: 1000px;
  height: 108px;
}

.youqing .youqing-two a {
  width: 125px;
  height: 24px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
}

.youqing .youqing-two a:hover {
  color: #169af3;
}

.weibu {
  width: 1349px;
  height: 289px;
  background: #2c323b;
}

.weibu a {
  margin: 0;
}

.weibu .weibu-one {
  display: flex;
  justify-content: center;
  width: 1349px;
  height: 30px;
  padding: 9px 0;
  font-size: 12px;
  border-bottom: 1px solid #3d424a;
}

.weibu .weibu-one a {
  padding: 10px 0 10px 10px;
  color: #b1b3b9;
}

.weibu .weibu-one a::after {
  content: "|";
  height: 12px;
  margin: 0 5px 0 10px;
  color: #b1b3b9;
}

.weibu .weibu-one a:hover {
  color: #169af3;
}

.weibu .weibu-one .zheshi::after {
  content: "";
}

.weibu .weibu-two {
  width: 1000px;
  margin: 0 auto;
  height: 150px;
  margin-top: 40px;
}

.weibu .weibu-two p {
  width: 1000px;
  height: 30px;
  text-align: center;
  color: #b1b3b9;
  font-size: 13px;
  line-height: 30px;
}

.weibu .weibu-two p a {
  float: none;
  color: #999;
}

.weibu .weibu-two p .tuyi {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  background: url("../images/footer_icon.png");
}

.weibu .weibu-two p .tuer {
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url("../images/logo_down.png");
}
